
  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg ">
    <div class="footerBlock">

      <div class="footerCompanyBlock1 Block col-lg-3 col-sm-12">
          <ul>
            <li><h1>Company</h1></li>
            <li>About</li>
            <li>Curriculum</li>
            <li>Privacy</li>
            <li>Terms</li>

          </ul>



      </div>
      <div class="footerCompanyBlock2 Block col-lg-2 col-sm-12">
          <ul>
            <li><h1>Platform</h1></li>
            <li>PC</li>
            <li>Mac</li>
            <li>Quest</li>
            <li>Vive Pro</li>

          </ul>



      </div>
      <div class="footerCompanyBlock3 Block col-lg-3 col-sm-12">
          <ul>
            <li><h1>Inspirit Learning, Inc.™</h1></li>
            <li><a href="mailto:support@inspiritvr.com?subject=feedback">support@inspiritvr.com</a></li>
<li> <br><h4></h4></li>

            <li><h2>CONNECT WITH US</h2></li>
            <li><h2>NEWSLETTER</h2></li>

          </ul>
      </div>
      <div class="footerCompanyBlock4 Block col-lg-3 col-sm-12">
          <ul>
            <li><img src="img/logo.png" alt=""></li>

        <a href="#"><img src="img/youtube.png" alt=""></a>
        <a href="#"><img src="img/instagram.png" alt=""></a>
        <a href="#"><img src="img/linkedin.png" alt=""></a>
            <p>Copyright © 2020 Inspirit Learning Inc.</p>
            <p>Designed by Quick Brown Fox Design</p>


          </ul>



      </div>
      </footer>

    </div>





</body>
</html>
