


  <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Inspirit</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="//db.onlinewebfonts.com/c/baf1f0c21eb34805b15825cb00aa0cde?family=KelsoW00-Bold" rel="stylesheet" type="text/css"/>
<link href="//db.onlinewebfonts.com/c/cf54181d77ee8be1b98ef6c8f4cca1a7?family=StolzlW00-Book" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="//db.onlinewebfonts.com/c/7d1b300e1f0330436dce60fdeb9951da?family=Stolzl+Medium" rel="stylesheet" type="text/css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="//db.onlinewebfonts.com/c/5bfd0286c0d82a54dc6c3189646723ab?family=StolzlW00-Medium" rel="stylesheet" type="text/css"/>




    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->


    </script>
    <script type="text/javascript" src="//use.typekit.net/ik/XxMNI7NOYI_OAWSjaZf-UDprrZxqHxPv__hU29gPOFvfel3efFHN4UJLFRbh52jhWD9ojhItFDZq5eI3wcwaFQBRwRwUjRJ3ZgntMKG0jAFu-WsoShFGZAsude80ZkoRdhXCHKoyjamTiY8Djhy8ZYmC-Ao1Oco8if37OcBDOcu8OfG0-AoDSe8k-WshSKoDSWmyScmDSeBRZPoRdhXCHKoDSWmyScmDSeBRZWFR-emqiAUTdcS0jhNlOeBRiA8XpWFR-emqiAUTdcS0jhNlOeBRiA8XpWFR-emqiAUTdcS0dcmXOeBDOcu8Oe80SagTSc8Xi1J0jhNlOe80SagTSc8Xi1J0SaBujW48Sagyjh90jhNlOeUzjhBC-eNDifUDSWmyScmDSeBRZWFR-emqiAUTdcS0jhNlOYiaikoyjamTiY8Djhy8ZYmC-Ao1OcFzdPUaiaS0jAFu-WsoShFGZAsude80Zko0ZWbCiaiaOcBDOcu8OYiaikoTd1F3-W4TiYZkOcFzdPUaiaS0-AoDSe8k-WshSKoDSWmyScmDSeBRZPoRdhXCiaiaO1FUiABkZWF3jAF8ShFGZAsude80ZkoRdhXK2YgkdayTdAIldcNhjPJbZ148-AiGifuDjAoDOWgkdkJeShFGZAu8J6ZDieNCpc3KfAZuiYmkjPu3ifJ4ShNc-AIlSY4zH6qJtKGbMg62JMJ7fbKzMsMMeMb6MKGHfO2IMsMMeM96MKG4fJCgIMMjgkMfH6qJtkGbMg6FJMJ7fbKwMsMMegI6MKG4fwTmIMIjgfMfH6qJqcqbMs6BJMJ7fbK9-sMgeMj6MKG4fJoTIMIjgkMfH6qJu3IbMy6IJMJ7f6ROr3IbMU6fJMJ7f6Rwr3IbMU62JMJ7f6RFr3IbMU6IJMJ7f6R5r3IbMU6BJMJ7f6RVr3IbMU6YJMJ7fbKemsMIeMw6MKG4fJsmIMbjgfMfH6qJxubbgg6BJMJ7fbKgmsMIeMS6MKG4fJmmIMbj2KMfH6qJ6B9bgg6VJMJ7fbKfmsMIegI6MKGHfF7xMsMBegw6MKGHfFrxMsMBeMw6MKGHf55xMsMBeMb6MKGHf5exMsMBeM96MKGHf5AxMsMBeMj6MKGHfF0xMsMBeMS6MKGHfFcxMsMBeMq6MKGHf5KxMsMBegM6MKGHfFkxMsMBegI6MTMglnE2N69.js"></script>
    <link href="fonts/Kelso W00 Bold.ttf" rel="stylesheet">
    <link href="fonts/Kelso W00 Medium.ttf" rel="stylesheet">
    <link href="fonts/Stolzl_Book.ttf" rel="stylesheet">
    <link href="fonts/Stolzl-Bold.ttf" rel="stylesheet">
    <link href="fonts/Stolzl-Regular.ttf" rel="stylesheet">
    <link href="fonts/StolzlMedium.ttf" rel="stylesheet">


    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">


    ======================================================= -->
    </head>

    <body style="font-size: 2rem;">
    <!--==========================
      Header
      ============================-->
    <header id="header">



  <div class="container1">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="index.php" class="scrollto"><span> -->
        <img src="img\logo.png" alt="">
        </span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <div class="float-left logoAlternate" >
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="index.php" class="scrollto"><span>
        <img src="img\logoAlternate.png" alt="">
        </span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>


          <li><a href="index.php">About</a></li>
          <li><a href="/">Curriculum</a></li>

          <li class="drop-down1"><a href="/connect">Connect</a>


          </li>

        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->
