<%- include('partials/header') -%>

<div class="innerBody download">

  <div class="introDownload">
    <h2>Pre-Order Today</h2>
    <p>Thank you for all your love and support! We have been overwhelmed with sign-ups and will be onboarding users on a first-come first-serve basis. Sign up for our waitlist to get access to our free virtual science lab platform!</p>
  </div>

</div>

<%- include('partials/footer') -%>
