


<!-- ============Header file========= -->
<%- include('partials/header'); -%>
<!-- ============Header file========= -->

<!-- ============BODY START========= -->

<div class="innerBody curriculum ">


<div class="intro">
  <h1>The Inspirit Universe</h1>
  <p>The Inspirit VR experience comes complete with a
    catalogue of 400+ immersive and interactive titles across
    K12 math and science common core topics. Our range of
    engaging content can easily be aligned with structured
    lesson plans to help students visualize inherently complex
    subjects.</p>
</div>

<div class="subDivision">
  <div class="subjects">



  <table>
    <tr>
      <td> <h1>BIOLOGY</h1> </td>
      <td> <h1>PHYSICS</h1> </td>
      <td> <h1>CHEMISTRY</h1> </td>
    </tr>
  </table>
  </div>


<div class="biology ">


<table>
  <tr>
    <td class="head">CELLS</td>
  </tr>

<tr>
  <td>   <ul class="topic">   <li>Prokaryote vs. Eukaryote </li> </ul></td>
</tr>

<tr>
  <td>   <ul class="topic"> <li>   Plant Cell</li></ul></td>
</tr>

<tr>
  <td>   <ul class="topic"> <li> Nucleus & Endoplasmic Reticulum</li></ul></td>
</tr>
<tr>
  <td>   <ul class="topic"> <li> Golgi Apparatus</li></ul></td>
</tr>

<tr>
  <td>   <ul class="topic">   <li> Lysosomes</li></ul></td>
</tr>

<tr>
  <td>   <ul class="topic"> <li> Mitochondria</li></ul></td>
</tr>

<tr>
  <td>   <ul class="topic"> <li> Cell Membrane</li></ul></td>
</tr>

<tr>
  <td>   <ul class="topic"> <li> Labeling Exercises</li></ul></td>
</tr>



  <tr>
    <td class="head">ENERGY IN ORGANISM</td>
  </tr>

  <tr>
    <td>   <ul class="topic"> <li>  Introduction to Active & Passive Transport</li></ul></td>
  </tr>

  <tr>
    <td>   <ul class="topic">  <li>  Introduction to Cellular Respiration</li></ul></td>
  </tr>

  <tr>
    <td class="head">NUCLEIC ACIDS, GENES AND CHROMOSOMES</td>
  </tr>

  <tr>
    <td>   <ul class="topic"> <li>  Introduction to DNA</li></ul></td>
  </tr>

  <tr>
    <td>   <ul class="topic"> <li>  Molecular Structure of DNA</li></ul></td>
  </tr>

  <tr>
    <td>   <ul class="topic"> <li>  DNA Replication</li></ul></td>
  </tr>

  <tr>
    <td>   <ul class="topic"> <li>  Introduction to RNA</li></ul></td>
  </tr>

  <tr>
    <td>   <ul class="topic"> <li>  Molecular Structure of RNA</li></ul></td>
  </tr>

  <tr>
    <td>   <ul class="topic"> <li>  Transcription     </li></ul></td>
  </tr>

  <tr>
    <td>   <ul class="topic">   <li>  Translation</li> </ul></td>
  </tr>

  <tr>
    <td>   <ul class="topic">     <li>  Introduction to Chromosomes</li> </ul></td>
  </tr>
  <tr>
    <td>   <ul class="topic">     <li>  Introduction to Genes</li> </ul></td>
  </tr>




  <tr>
    <td class="head">CELL DIVISION</td>
  </tr>

  <tr>
    <td>   <ul class="topic">    <li>Phases of Cell Cycle</li> </ul></td>
  </tr>

</table>


</div>

<div class="physics ">

</div>

<div class="chemistry ">

</div>

</div>


</div>

<!-- ============BODY END=========== -->

<!-- ============Footer file========= -->
<%- include('partials/footer'); -%>
